Source: audioreach-audio-utils
Section: misc
Maintainer: Sairamreddy Bojja <sbojja@qti.qualcomm.com>
Build-Depends: debhelper-compat (= 13),
 libtinyalsa-dev,
 libexpat1-dev,
 pkgconf,
Standards-Version: 4.6.2
Homepage: https://github.com/Audioreach/audioreach-audio-utils
Vcs-Git: https://github.com/qualcomm-linux/pkg-audioreach-audio-utils.git
Vcs-Browser: https://github.com/qualcomm-linux/pkg-audioreach-audio-utils

Package: libaudioroute1
Architecture: arm64
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: AudioReach audio utilities
 Provides helper libraries and APIs for audio routing and
 configuration used by the AudioReach platform.

Package: libaudioroute-dev
Architecture: arm64
Description: AudioReach audio utils - development files
 AudioReach audio utilities
 Provides helper libraries and APIs for audio routing and
 configuration used by the AudioReach platform.
 .
 This package contains library headers for the shared libraries shipped in the
 libaudioroute1 package.
Section: libdevel
Depends: libaudioroute1 (= ${binary:Version}), ${misc:Depends}
