Source: audioreach-audio-utils
Section: misc
Priority: optional
Maintainer: Sairamreddy Bojja <sbojja@qti.qualcomm.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
 libglib2.0-dev,
 libtinyalsa-dev,
 libexpat1-dev,
Standards-Version: 4.6.2
Homepage: https://github.com/Audioreach/audioreach-audio-utils
Vcs-Git: https://github.com/qualcomm-linux/pkg-audioreach-audio-utils -b debian/latest
Vcs-Browser: https://github.com/qualcomm-linux/pkg-audioreach-audio-utils

Package: audioreach-audio-utils
Architecture: arm64
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends},
 libtinyalsa2,
  libglib2.0-0,
Description: AudioReach audio utilities
 Provides helper libraries and APIs for audio routing and
 configuration used by the AudioReach platform.

Package: audioreach-audio-utils-dev
Architecture: arm64
Description: AudioReach audio utils - development files
 AudioReach audio utilities
 Provides helper libraries and APIs for audio routing and
 configuration used by the AudioReach platform.
 .
 This package contains library headers for the shared libraries shipped in the
 audioreach-audio-utils  package.
Section: libdevel
Depends: audioreach-audio-utils (= ${binary:Version}), ${misc:Depends}
